<div id="slide3">
	<div class="checkerboard">
		
	</div>

	<div id="panel-exposer">
		<h1>Professionnels, venez exposer au Salon des Taxis</h1>
		<h2><strong>44 400 chauffeurs</strong> de taxis depuis la première édition du salon !</h3>	
		<h3>Un salon qui fédère des clients qui lui sont fidèles au cours des Editions (75% des entreprises reviennent d'une édition sur l'autre)</p>
		<br>
		<%= image_tag "stands.png" %>
		<br>
		<div class="container">
			<h2>Les différentes formules de stands</h2>
			<h3>Chacune des formules vous donne droit à une surface d'exposition, à l'insertion d'une fiche signalétique de votre société dans le Catalogue officiel, à des badges exposants, et l'accès au Club exposants.</p>
			<br>
			<p><%= link_to "Télécharger notre offre de stands", '#', class: "btn btn-danger btn-lg" %></p>	

			<hr>
			
				<h2>Nos actions de communication</h2>

				<h3 class="text-danger">La communication mise en place</h3>	

					<div class="row">
						<div class="col-md-6">
							<h4 class="text-left"> <%= fa_icon "envelope" %> Marketing direct : Mailing + Phoning</h4>	
							<p class="text-justify">
								<ul class="list-unstyled">
									<li class="text-left"><%= fa_icon "hand-o-right" %> 60 000 Invitations envoyées à l’adresse personnelle des chauffeurs de Taxis exerçant en France, ainsi qu’à tous les groupements des professionnels du Taxi et aux centres de formation dédiés, le Salon des Taxis possède la plus grande base de données taxis en France.</li>
		 							<li class="text-left"><%= fa_icon "hand-o-right" %> Campagne de phoning auprès de 5000 chauffeurs en activité sélectionnés dans tous les départements français.</li>
									<li class="text-left"><%= fa_icon "hand-o-right" %> Envois d’invitations « sms » à tous les visiteurs des précédentes éditions.</li>
									<li class="text-left"><%= fa_icon "hand-o-right" %> Distribution de flyers dans les gares et les aéroports des 10 plus grandes villes françaises.</li>
									<li class="text-left"><%= fa_icon "hand-o-right" %> Messages prévenant de la tenue du salon envoyés directement dans les véhicules par les centraux-radio.</li>
									<li class="text-left"><%= fa_icon "hand-o-right" %> Animation d’une page FaceBook : « Amandine des taxis »	</li>
								</ul>
							</p>		
						</div>
						<div class="col-md-6">
							<h4 class="text-left"> <%= fa_icon "volume-up" %> Campagne Média : Presse radio, affichage</h4>	
							<p class="text-justify">
								<ul class="list-unstyled">
									<li class="text-left"><%= fa_icon "hand-o-right" %> Insertions d’encarts publicitaires dans la presse généraliste et la presse spécialisée.</li>
		 							<li class="text-left"><%= fa_icon "hand-o-right" %> Bannière 15m x 5m au dessus du périphérique Sud de Paris.</li>
		 							<li class="text-left"><%= fa_icon "hand-o-right" %> Campagne d’affichage 4 x 3 autour du Parc des Expositions.</li>
								</ul>
							</p>		
						</div>
					</div>

				<h3 class="text-danger">Exposants, offrez-vous plus de visibilité</h3>	
			
				<div class="row">
						<div class="col-md-6">
							<p class="text-justify">
								<ul class="list-unstyled">
									<li class="text-left"><%= fa_icon "hand-o-right" %> <strong>Insérez votre logo</strong> sur votre fiche signalétique du catalogue officiel</li>
		 							<li class="text-left"><%= fa_icon "hand-o-right" %> <strong>Insérez votre publicité dans le catalogue officiel :</strong> diffusion à 5 500 exemplaires, document officiel du Salon remis personnellement à chaque visiteur à l'entrée du salon.</li>
									<li class="text-left"><%= fa_icon "hand-o-right" %> <strong>Insérez votre logo sur tous les plans du Salon :</strong> le plan est imprimé dans le catalogue officiel ainsi que sur les panneaux signalétiques placés dans des endroits stratégiques.</li>
								</ul>
							</p>		
						</div>
						<div class="col-md-6">
							<p class="text-justify">
								<ul class="list-unstyled">
									<li class="text-left"><%= fa_icon "hand-o-right" %> <strong>Faites distribuer vos documents à l'accueil par nos hôtesses :</strong> offre réservée à 2 exposants maximum, documents fournis par vos soins. Impression par nos soins possible (nous consulter).</li>
		 							<li class="text-left"><%= fa_icon "hand-o-right" %> <strong>Parrainez une zone du Salon :</strong> vous pouvez parrainer le Bar visteur, le parking visiteurs, la garderie,...</li>
		 							<li class="text-left"><%= fa_icon "hand-o-right" %> <strong>Opération de mailing sur notre base nationale Taxi :</strong> LE fichier national des taxis (coordonnées postales) est à votre disposition. Consultez nous !</li>
								</ul>
							</p>		
						</div>
					</div>
					<br>
					<h3 class="bg-danger">Vous souhaitez avoir une visibilité plus importante? Contactez Josiane MONET au 01 41 33 08 08 ou par mail : <%= mail_to "jmonet@dellingexpo.com" %></h3>		

					<br>
			<p><%= link_to "Vous êtes intéressé ? Téléchargez le bulletin d'inscription", 'https://s3.amazonaws.com/dellingexpo/salondestaxis/docs/inscription_exposant_2015.pdf', class: "btn btn-danger btn-lg", target: "_blank" %></p>	
		</div>
		
	</div>


	
</div>