<footer>
	<div class="container">
		<ul class="list-inline text-center">
			<li><%= "Salon des Taxis © 1998-2014" %></li>
			<li> <%= fa_icon "coffee" %> <%= link_to "Organisation Delling Expo", 'http://www.dellingexpo.com', target: "_blank" %></li>
			<li><%= fa_icon "code" %> <%= link_to "Site conçu par DIVAVEO", 'http://www.divaveo.com', target: "_blank" %></li>
			<li><%= fa_icon "legal" %> <%= link_to "Mentions", '#' %></li>
			<li> <%= fa_icon "facebook-square" %> <%= link_to "Facebook", 'http://www.facebook.com/salondestaxis', target: "_blank" %></li>
		</ul>	
	</div>
</footer>